@font-face {
    font-family: Corpo;
    font-weight: 600;
    src: url('/assets/font/MOAM91.ttf');
}

@font-face {
    font-family: Corpo;
    font-weight: 400;
    src: url('/assets/font/corpoA.ttf');
}

@font-face {
    font-family: Corpo;
    font-weight: 100;
    src: url('/assets/font/corpoS.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 400;
    src: url('/assets/font/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 300;
    src: url('/assets/font/HarmonyOS_Sans_SC_Light.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 500;
    src: url('/assets/font/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 600;
    src: url('/assets/font/HarmonyOS_Sans_SC_Bold.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 100;
    src: url('/assets/font/HarmonyOS_Sans_SC_Thin.ttf');
}

@font-face {
    font-family: HarmonyOS;
    font-weight: 800;
    src: url('/assets/font/HarmonyOS_Sans_SC_Black.ttf');
}
#app,
body,
html {
    width: 100%;
    height: 100%;
    background-color: #f6f8f9;
    font-size: 12px;
    font-family: Corpo,HarmonyOS, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

pre {
    font-size: 14px;
    font-family: Corpo,HarmonyOS, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
td,th{
    background: none;
}

#app {
    display: flex;
    flex-flow: column;
}

:root {
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-main: #0D0D15;
    --el-color-primary: #1D78FF;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #222222;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #ED4235;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
        0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
        0px 12px 32px rgba(0, 0, 0, 0.12),
        0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    /*自增css*/
    --el-border-light: #CCCCCC;
    --el-aside-size: 19px;
    --el-text-color: #333333;
    --el-link-color: #999999;
    --el-table-th: #1A1A1A;
    --el-table-th-bg: #EEEEEE;
    --el-border-lighter: rgba(0, 0, 0, .1);
    --el-vehicle-success: #34A755;
    --el-vehicle-danger: #ED4235;
    --el-vehicle-warning: #FCCA43;
    --el-report-primary: #27406A;
    --el-report-primary-light: #2a426c;
    --el-report-block-icon: #fee192;
    --el-report-main: #335CA1;
    --el-report-light: #e2e4e9;
    --el-report-purple: #7030a0;
}

.page-block {
    background-color: var(--el-color-white);
    padding: 30px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    box-shadow: var(--el-box-shadow-lighter);
}

.page-block.no-padding {
    padding: 0;
}

.page-search {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-search-buttons {
    width: auto;
}

.page-search-buttons-item {
    margin-right: 10px;
}

.page-search-form {
    flex: 1;
    text-align: right;
    --el-color-primary: var(--el-report-primary);
    --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 70%, white);
    --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 50%, white);
    --el-color-primary-light-7: color-mix(in srgb, var(--el-color-primary) 30%, white);
    --el-color-primary-light-8: color-mix(in srgb, var(--el-color-primary) 20%, white);
    --el-color-primary-light-9: color-mix(in srgb, var(--el-color-primary) 10%, white);
}

.page-search-form .el-form-item {
    margin-bottom: 0 !important;
}

.page-search-form .el-form-item:last-child {
    margin-right: 0 !important;
}

.page-search-buttons-upload {
    width: auto;
    display: inline-flex;
    margin: 0 12px;
    height: 32px;
    vertical-align: middle;
}

.border-right {
    border-right: rgba(0, 0, 0, .08) 1px solid;
}

.border-bottom {
    border-bottom: rgba(0, 0, 0, .08) 1px solid;
}

.border-left {
    border-left: rgba(0, 0, 0, .08) 1px solid;
}

.border-top {
    border-top: rgba(0, 0, 0, .08) 1px solid;
}

.border {
    border: rgba(0, 0, 0, .08) 1px solid;
}

svg {
    width: 1em;
    height: 1em;
}

.emptyData {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.el-input__suffix img {
    cursor: pointer;
}

.el-tree {
    width: 100% !important;
}

.el-drawer__title {
    font-size: 18px;
}

.el-drawer__body {
    padding-top: 0;
}

.form-block-title {
    border-left: var(--el-color-primary) 4px solid;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: 28px;
    font-size: 18px;
}

.form-block-content {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.margin-bottom {
    margin-bottom: 15px;
}

.empty-flex {
    flex: 1;
}

.printer-box {
    --report-width: 1580px;
    width: var(--report-width);
    padding: 20px;
}

.report {
    display: flex;
    width: var(--report-width);
    height: auto;
    flex-direction: column;
    overflow: hidden;
}


.report-table {
    --report-bg: #f6f8f9;
    --report-border: var(--report-bg);
    --report-right-border: var(--report-bg);
    --report-bottom-border: var(--report-bg);
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    background-color: var(--report-bg);
    border-color: var(--report-border);
}

.report-border {
    --report-border: var(--el-report-primary);
    --report-right-border: var(--el-report-primary);
    --report-bottom-border: var(--el-report-primary);
}

.report-border-bottom {
    --report-bottom-border: var(--el-report-primary);
}

.report-border-right {
    --report-right-border: var(--el-report-primary);
}

.report-border-full {
    --report-border: var(--el-report-primary);
}
.report-table-left-border{
    border-left: 1px solid var(--report-right-border);
}
.report-table-right-border{
    border-right: 1px solid var(--report-right-border);
}

.report-table th,
.report-table td {
    min-width: 1%;
    min-height: 30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-right-color: var(--report-right-border);
    border-bottom-color: var(--report-bottom-border);
    box-sizing: border-box;
    font-size: 12px;
    background: inherit;
}

.report-table thead {
    background-color: var(--el-report-main);
    color: var(--el-color-white);
}


.report-table tr{
    background: inherit;
}

.report-table .report-title {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
}

.report-table .report-title th {
    font-weight: 200;
    padding: 0;
    border-width: 0;
    background-color: var(--el-report-primary);
    color: var(--el-color-white);
    height: 50px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
}

.report-table th div,
.report-table td div {
    width: 100%;
    height: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.report-table .report-title th div.left {
    justify-content: flex-start;
}

.report-table .report-title th div.right {
    justify-content: flex-end;
}

.report-table .report-title img {
    margin: 0;
    padding: 0;
}

.report-empty td {
    height: 5px;
}

.report-empty-10 td {
    height: 10px;
}

.report-empty-20 td {
    height: 20px;
}

.report-empty-30 td {
    height: 30px;
}

.report-empty-40 td {
    height: 40px;
}

.report-empty-50 td {
    height: 50px;
}

.report-empty-60 td {
    height: 60px;
}

.report-empty-70 td {
    height: 70px;
}

.report-empty-80 td {
    height: 80px;
}

.report-empty-90 td {
    height: 90px;
}

.report-empty-full td {
    height: 100px;
}

.report-status-point{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--el-color-success);
}
.report-status-point.square{
    border-radius: 2px;
}
.report-status-point.border{
    border: var(--el-color-black) 1px solid;
}
.report-status-point.preHighlight{
    background-color: var(--el-color-warning);
}
.report-status-point.danger{
    background-color: var(--el-color-danger);
}
.report-status-point.warning{
    background-color: var(--el-color-warning);
}
.report-status-point.highlight{
    background-color: var(--el-color-danger);
}
.report-status-point.purple{
    background-color: var(--el-report-purple);
}
.report-status-point.primary{
    background-color: var(--el-report-main);
}
.report-status-point.light{
    background-color: var(--el-color-primary);
}
.report-status-text{
    color: var(--el-color-success);
}
.report-status-text.danger{
    background-color: var(--el-color-danger);
}
.report-status-text.warning{
    background-color: var(--el-color-warning);
}
.report-status-text.preHighlight{
    color: var(--el-color-warning);
}
.report-status-text.highlight{
    color: var(--el-color-danger);
}
.report-status-text.purple{
    color: var(--el-report-purple);
}
.report-status-text.primary{
    color: var(--el-report-main);
}
.report-status-text.light{
    color: var(--el-color-primary);
}

ins.el-text{
    cursor:pointer;
}